<div class="container-fluid">
  <%= simple_form_for @recipe, remote: true do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <p class="main-header">Title:</p>
      <%= f.input :title, label: false, input_html: {class: "title-field"} %><br /><br />
      <%= image_tag f.object.main_image unless f.object.main_image.blank? %><br /><br />
      <%= f.input :main_image, label: "Change Image", input_html: {direct_upload: true} %>
      <div class="d-inline-flex">
        <div class="mx-2"><%= f.input :default_servings, label: "Default Servings", collection: 1..99, input_html: { class: "default-servings" } %></div>
        <div class="mr-2"><%= f.input :prep, label: "Prep Time: " %></div>
        <div><%= f.input :cook, label: "Cook Time: " %></div>
      </div>
    </div>

    <table class="table table-width">
      <thead>
        <tr>
          <th class="fit"></th>
          <th class="fit"></th>
          <th class="fit">Ingredient</th>
          <th class="fit">Prep</th>
          <th class="amount">Amount</th>
          <th class="fit">Unit</th>
          <th class="amount">Amount 2</th>
          <th class="fit">Unit 2</th>
        </tr>
      </thead>
      <tbody class='fields'>
        <%= f.simple_fields_for :ingredients do |i| %>
          <%= render "ingredient", f: i%>
        <% end %>
      </tbody>
    </table>

    <div class='links'>
      <%= link_to_add_row('Add Ingredient', f, :ingredients, class: 'btn btn-primary')%>
    </div><br  />
    <div class="instructions-box">
      <p class="header">Instructions:</p>
      <%= f.input :description, label: false, input_html: { class: "text-box" } %><br />
    </div>
    <div class="notes-box">
      <p class="header">Notes:</p>
      <%= f.input :notes, label: false, input_html: { class: "text-box" } %><br />
    </div>
    <div class="categories">
      <%= label_tag(:categories, 'Categories') %>
      <%= text_field_tag('categories', f.object.categories_full_list, class: 'group-field') %>
    </div><br />
    <div class="tags">
      <%= label_tag(:tags, 'Tags') %>
      <%= text_field_tag('tags', f.object.tags_full_list, class: 'group-field') %>
    </div><br />
    <div class="form-actions">
      <%= f.submit class: "submit recipe" %>
    </div>
    <br />
  <% end %>
</div>
