<% child_index = Time.now.to_i %>
<%= simple_form_for @recipe do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %><br /><br />
    <%= f.input :default_servings %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Ingredient</th>
        <th>Prep</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Amount Two</th>
        <th>Unit Two</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :ingredients do |i| %>
        <%= render "ingredient", f: i%>
      <% end %>
    </tbody>
  </table>

  <div class='links'>
    <%= link_to_add_row('Add Ingredient', f, :ingredients, class: 'btn btn-ptimary')%>
  </div>
  <%= f.input :description %><br /><br />
  <%= f.input :notes %><br /><br />


  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
