<tr class="nested-fields">
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.input :name, label: false %></td>

  <% f.object.ingredient_lists.build(id: Time.now.to_i) %>
  <%= f.simple_fields_for :ingredient_lists do |i_list| %>
    <td><%= i_list.input :prep, label: false %></td>
    <td><%= i_list.input :amount, label: false %></td>
    <td>
      <%= i_list.input :unit, label: false do %>
        <%= i_list.select :unit, Unit.all.map { |u| u.unit }, include_blank: false %>
      <% end %>
    </td>
    <td><%= i_list.input :alt_amount, label: false %></td>
    <td>
      <%= i_list.input :alt_unit, label: false do %>
        <%= i_list.select :unit, Unit.all.map { |u| u.unit }, include_blank: false %>
      <% end %>
    </td>
  <% end %>
</tr>