<tr class="nested-fields">
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.input :name, label: false %></td>

  <%= f.simple_fields_for :ingredient_lists do |i_list| %>
    <td><%= i_list.input :prep, label: false %></td>
    <td><%= i_list.input :amount, label: false %></td>
    <td>
      <%= i_list.input :unit_id, label: false do %>
        <%= i_list.select :unit_id, Unit.all.collect { |u| [u.unit, u.id] }, include_blank: true  %>
      <% end %>
    </td>
    <td><%= i_list.input :alt_amount, label: false %></td>
    <td>
      <%= i_list.input :alt_unit_id, label: false do %>
        <%= i_list.select :alt_unit_id, Unit.all.collect { |u| [u.unit, u.id] }, include_blank: true %>
      <% end %>
    </td>
  <% end %>
</tr>