<tr class="nested-fields">
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td>
    <%= button_tag(:class => "btn btn-sm add-to-tags") do %>
      <span class="fa fa-hashtag"></span>
    <% end %>
  </td>
  <%= f.simple_fields_for :ingredient do |i| %>
    <td><%= i.input :name, label: false, input_html: {class: "ingredient-name"} %></td>
  <% end %>

  <td><%= f.input :prep, label: false %></td>
  <td><%= f.input :amount, input_html: { class: "amount" }, label: false %></td>
  <td>
    <%= f.input :unit_id, label: false do %>
      <%= f.select :unit_id, Unit.all.collect { |u| [u.unit, u.id] }, include_blank: true  %>
    <% end %>
  </td>
  <td><%= f.input :alt_amount, input_html: { class: "amount" }, label: false %></td>
  <td>
    <%= f.input :alt_unit_id, label: false do %>
      <%= f.select :alt_unit_id, Unit.all.collect { |u| [u.unit, u.id] }, include_blank: true %>
    <% end %>
  </td>
</tr>