<tr class="nested-fields">
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td>
    <%= button_tag(:class => "btn btn-sm add-to-tags") do %>
      <span class="fa fa-hashtag"></span>
    <% end %>
  </td>
  <td><%= f.input :name, label: false, input_html: {class: "ingredient-name"} %></td>

  <%= f.simple_fields_for :ingredient_lists do |i_list| %>
    <% if i_list.object.recipe_id == @recipe.id || i_list.object.recipe_id.blank? %>
      <td><%= i_list.input :prep, label: false %></td>
      <td><%= i_list.input :amount, input_html: { class: "amount" }, label: false %></td>
      <td>
        <%= i_list.input :unit_id, label: false do %>
          <%= i_list.select :unit_id, Unit.all.collect { |u| [u.unit, u.id] }, include_blank: true  %>
        <% end %>
      </td>
      <td><%= i_list.input :alt_amount, input_html: { class: "amount" }, label: false %></td>
      <td>
        <%= i_list.input :alt_unit_id, label: false do %>
          <%= i_list.select :alt_unit_id, Unit.all.collect { |u| [u.unit, u.id] }, include_blank: true %>
        <% end %>
      </td>
    <% end %>
  <% end %>
</tr>