<div class='container'>
  <div class='row'>
    <% @recipe_count.times do |i| %>
      <% recipe = @recipes[i] %>
      <div class="col-6 col-lg-4 recipe-preview recipe-border d-flex">
        <div class='center-content text-center'>
          <%= link_to recipe do %>
            <div class="preview-link">
              <div class="preview-title"><%= recipe.title.titleize %></div>
              <div><%= image_tag(recipe.main_image.variant(resize_and_pad: [200, 150]), class: 'image-preview') unless recipe.main_image.blank? %></div>
            </div>
          <% end %>
          <div>
            <p class='no-margin index-link-preview'>Categories: 
              <% recipe.categories.limit(5).each do |c| %>
                <%= link_to "##{c.name.titleize}", c, class: 'index-link-preview' %>
              <% end %>
            </p>
            <p class='no-margin index-link-preview'>Tags: 
              <% recipe.tags.limit(5).each do |t| %>
                <%= link_to "##{t.name.titleize}", t, class: 'index-link-preview' %>
              <% end %>
            </p>
          </div>
        <br />
        <br />
      </div>
    </div>
    <% end %>
  </div>
</div>