<div>
  <% @recipe_count.times do |i| %>

  <div>
    <% recipe = @recipes[i] %>
    <strong><%= link_to recipe.title.titleize, recipe %></strong>
    <div><%= image_tag recipe.main_image.variant(resize_and_pad: [150, 150]) unless recipe.main_image.blank? %></div>
    <div>
      <p>Categories: 
      <%= recipe.categories_full_list %></p>
      <p>Tags: 
      <%= recipe.tags_full_list %></p>
    </div>
    <div>
        <%= link_to 'Edit, ', edit_recipe_path(recipe) %>
        <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <br />
    <br />
  </div>

  <% end %>
</div>