<div class="ml-3">
  <h1>Recipes</h1>

  <% categories = Option.find(1).categories %>
  <% tags = Option.find(1).tags %>
  
  <div>
    <p class='header'>Random Recipes:</p>
    <%= render "layouts/drag_list", list: @random_list%>
  </div>

  <% unless Option.find(1).random_category.blank? || Category.find(Option.find(1).random_category).blank? %>
    <div>
      <% random_category = Category.find(Option.find(1).random_category) %>
      <% list = random_category.recipes.order(Arel.sql('RANDOM()')).limit(20) %>
      <p class='header'><%= link_to "Random Category: #{random_category.name.titleize}", random_category, class: 'index-link' %></p>
      <%= render "layouts/drag_list", list: list%>
    </div>
  <% end %>

  <% unless categories.blank? %>
    <% categories.each do |c| %>
      <div>
        <p class='header'><%= link_to "#{c.name.titleize} Recipes:", c, class: 'index-link' %></p>
        <% list = c.recipes.order(Arel.sql('RANDOM()')).limit(20) %>
        <%= render "layouts/drag_list", list: list%>
      </div>
    <% end %>
  <% end %>

  <% unless tags.blank? %>
    <% tags.each do |t| %>
      <div>
        <p class='header'><%= link_to "#{t.name.titleize} Recipes:", t, class: 'index-link' %></p>
        <% list = t.recipes.order(Arel.sql('RANDOM()')).limit(20) %>
        <%= render "layouts/drag_list", list: list%>
      </div>
    <% end %>
  <% end %>

</div>