<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-4 col-xl-3 ingredient-column">
      <h1>
        <strong><%= @recipe.title %></strong>
      </h1>
      <div class="justify-space d-flex">
        <p class="d-inline-flex body-text no-margin">Ingredients:</p>
        <p class="d-inline-flex body-text no-margin"><%= @recipe.default_servings %> Serving<%= "s" if @recipe.default_servings.to_i > 1 %></p>
      </div>

      <table class="table table-striped table-sm">
        <tbody>
          <% @recipe.ingredient_lists.each do |i_list|%>
            <tr>
              <td>
                <%= i_list.amount unless i_list.amount.blank? %>
                <%= Unit.find(i_list.unit_id).unit unless i_list.unit_id.blank?%>
                                <% unless i_list.alt_amount.blank? %>
                  <%= " or  #{i_list.alt_amount} #{Unit.find(i_list.alt_unit_id).unit}" %>
                <% end %>

              </td>

              <td>
                <%= "#{Ingredient.find(i_list.ingredient_id).name}" %><%= ", #{i_list.prep}" if i_list.prep %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-8">
      <div><%= image_tag @recipe.main_image unless @recipe.main_image.blank? %></div>
      <div>
        <p class="header">Instructions:</p>
        <p class="body-text"><%= @recipe.description %></p>
      </div>
      <div>
        <p class="header">Notes:</p>
        <p class="body-text"><%= @recipe.notes %></p>
      </div>

      <div>
        <p class="header">Categories:</p>
        <p>
        <% count = @recipe.categories.count %>
        <% @recipe.categories.each_with_index do |c, idx| %>
          <%= link_to "##{c.name.titleize}", c, class: 'index-link' %><%= "," unless count == (idx + 1) %>
        <% end %>
        </p>
      </div>

      <div>
        <p class="header">Tags:</p>
        <p>
        <% count = @recipe.tags.count %>
        <% @recipe.tags.each_with_index do |t, idx| %>
          <%= link_to "##{t.name.titleize}", t, class: 'index-link' %><%= "," unless count == (idx + 1) %>
        <% end %>
        </p>
      </div>

      <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
      <%= link_to 'Back', recipes_path %>
    </div>
  </div>