<div class="container-fluid">
  <div class="main-header"><strong><%= @group.name.titleize %>:</strong></div><br />

  <div>
    <%= link_to 'Edit', edit_group_path(@group), class: "dark-text btn btn-light mr-1" %>
    <%= link_to 'Delete', @group, data: { confirm: "Are you sure?" }, method: :delete, class: "dark-text btn btn-light mr-1"  %>
  </div><br />

  <div>
    <% @categories.each do |c| %>
      <div>
        <p class='header'><%= link_to c.name.titleize, c, class: "dark-text" %></p>
        <% list = c.recipes.order(Arel.sql('RANDOM()')).limit(20) %>
        <%= render "layouts/drag_list", list: list%>
      </div>
      <br  />
    <% end %>
  </div>

  <div>
    <% @tags.each do |t| %>
      <div>
        <p class='header'><%= link_to t.name.titleize, t, class: "dark-text"  %></p>
        <% list = t.recipes.order(Arel.sql('RANDOM()')).limit(20) %>
        <%= render "layouts/drag_list", list: list%>
      </div>
      <br  />
    <% end %>
  </div>
</div>