<div class="container-fluid">
  <h2>Create a new User</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "username" }%><br/>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %><br/>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :admin %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Account", class: "dark-text btn btn-light btn-sm"%>
    </div><br/>
  <% end %>

</div>